<%- include('../includes/head.ejs')%>

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/nav.ejs')%>
    <main>
    <form class="product-form" action="<% if (!editing) {%>/admin/add-product <% } else { %>/admin/edit-product<%}%>" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" autocomplete="off" name="title" id="title" 
            value='<% if (editing) {%><%= product.title %><% } else {%><% } %>'>
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" autocomplete="off" name="price" id="price" step='0.01' 
            value='<% if (editing) {%><%= product.price %><% } else {%><% } %>'
            >
        </div>
        <div class="form-control">
            <label for="imageUrl">Image url</label>
            <input type="text" autocomplete="off" name="imageUrl" id="imageUrl"
            value='<% if (editing) {%><%= product.imageUrl %><% } else {%><% } %>'
            >
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"
            ><% if (editing) {%><%= product.description %><% } else {%><% } %></textarea>
        </div>
        <div class='flex'>
            <button class="btn" type="submit"><% if(!editing) {%> Add Product <% } else {%>Edit product<% } %></button>
            <% if (editing) {%>
                <input type="hidden" name="productId" value='<%= product.id%>'>
                <a href="/admin/products" class='btn'>Go back</a>
                <% } %>    
        </div>
    </main>
    </form>
<%- include('../includes/foot.ejs')%>