<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/cart.css">

</head>

<body>
        <%- include('../includes/nav.ejs')%>
        <main>
            <h1 class="centered">Your cart</h1>
        <% if(products.length > 0) {%>
        <ul class='cart__item-list'>
            <% products.forEach(({title, cartItem, id, price}) => { %>
                <li class='cart__item'>
                    <p><%= title %> (<%= cartItem.quantity %>)</p>
                    <form action="/cart-delete-item" method='POST'>
                        <input type="hidden" name="productId" value='<%= id%>'>
                        <input type="hidden" name="productPrice" value='<%= price%>'>

                    <button class='btn danger' type='submit'>Delete</button>
                    </form>
                </li>
            <% }) %>
        </ul>
        <div class="centered">
            <form method="POST" action="/create-order">
                <button class="btn btn-50" type='submit'>Order</button>
            </form>
        </div>
        <% } else {%>
            <h1>No products in cart</h1>
        <% }%>      
        
        </main>
<%- include('../includes/foot.ejs')%>