<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('../includes/nav.ejs')%>

    <main>
        <% if (orders.length == 0) {%>
        <h1 class='centered'>Still no orders at your account</h1>
        <% } else {%>
            <ul>
                <% orders.forEach((order, index) => { %>
                    <li>
                        <h2> Order # <%= ++index %> -  
                            <%= order.products.reduce((sum, i) => (sum+i.price*i.orderItem.quantity), 0)%>$ 
                            <br/>
                        </h2>
                        <h4><%= order.createdAt.toDateString() %></h4>
                        <ul>
                            <% order.products.forEach(product => {%>
                                <li><%= product.title%> (<%= product.orderItem.quantity%>)</li>
                            <% }) %>
                        </ul>
                    </li>
                    <a href="/order/<%= order.id %>" class='btn btn-10 ml-2'>Details</a>
                    <hr>
                <% }) %>
            </ul>
        <% }%>   
        
        </main>
<%- include('../includes/foot.ejs')%>