<%- include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
        <%- include('../includes/nav.ejs')%>

    <main class='centered'>
        <h1><%= product.title%></h1>
        <hr>
        <div class='image'>
            <img src="<%= product.imageUrl%>" alt="<%= product.title%>">
        </div>
        <h2>$<%= product.price%></h2>
        <p><%= product.description%></p>
        <div >
            <form action='/cart' method="post" class='flex flex-column'>
                <button class="btn" type='submit'>Add to Cart</button>
                <a href="/products" class='btn'>Go back</a>
                <input type="hidden" name="productId" value='<%= product.id%>'>
            </form>
        </div>
    </main>
<%- include('../includes/foot.ejs')%>